  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <!--検索機能追加----------------------------------------------------------->
        <p>投稿　検索</p>
          <%= form_for(root_path, :method => 'get') do %>
            <%= text_field_tag :search %>
            <%= submit_tag '検索', :name => nil, class: "btn btn-primary" %>
          <% end %>

      <%= render 'shared/feed' %>
    </div>
  </div>
