  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
  
    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>
  <p>本アプリケーションは、Ruby on Rails チュートリアルを元に作成しています。</p>
  <p>次の機能を拡張しています</p>
  <p>※　I18n　APIを使用したエラーメッセージの日本語化</p>
  <p>※　ユーザー名による検索機能</p>
  <p>※　投稿内容による検索機能</p>
  <br></br>
  <p>
    こちらのメールアドレスとパスワードによるログインが可能です。（有効なメールアドレスでの登録も可能です）
  </p>
  <h3>メールアドレス:     example-3@railstutorial.org</h3>
  <h3>パスワード:  password</h3>