<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<!-------------------検索機能----------------------------------->
<p>ユーザー名　検索</p>
<%= form_for(users_path, :method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil, class: "btn btn-primary" %>
<% end %>
<ul class="users">
    <%= render @users %>
</ul>

<%= will_paginate %>